@import 'global';
.navigation{
  border-bottom: 1px solid $graywhite;
  >nav{
    >.navigation-megamenu{
      transition: 1s;
      >.navigation-megamenu-search{
        >.search{
          padding: 5px 10px;
          >.search-anywhere,>.search-anyweek{
            padding-right: 25px;
            border-right: 1px solid $gray !important;
          }
          >.search-logo{
            padding: 7px 0px;
            >a{
              >.bi{
                color: $white;
              }
            }
          }
        }
        >.search-sub{
          position: absolute;
          top: 0px;
          left: 50%;
          opacity: 0.5;
          transform: translateX(-50%)scale(0);
          >.search-sub-nav{
            >li{
              padding: 20px;
              transition: .4s;
              &:first-child{
                border-bottom: 2px solid black;
              }
              &:hover:not(:last-child){
                border-bottom: 2px solid black;
              }
              &:last-child:hover{
                color: $pink;
              }
            }
          }
          >.search-sub-box{
            >li{
              border-radius: 40px;
              padding: 20px;
              transition: all .4s linear;
              &:hover{
                background: $white !important;
              }
            }
            >.search-sub-box-where{
              >input{
                outline: none;
                border: none;
                background: transparent;
              }
              >.sub-where{
                // border: 1px solid red;
                // background: $white;
                z-index: 99 !important;
              }
            }
            >.search-sub-box-date{
              >.when-sub{
                >.when-sub-menu{
                  >ul{
                    >li{
                      transition: .4s;
                      border-radius: 30px;
                      margin: 5px;
                      &:hover{
                        background: $white !important;
                      }
                    }
                  }
                }
                >.when-sub-submenu{
                  >div{
                    display: none;
                  }
                }
              }
            }
            >.search-sub-box-where,
            >.search-sub-box-checkin,
            >.search-sub-box-checkout,
            >.search-sub-box-who{
              >h3{
                font-weight: bold;
              }
            }
            >.search-sub-box-who{
              >.search-sub-box-who-search{
                color: $white;
                transition: .4s;
                &:hover{
                  background: $pink;
                }
              }
            }
          }
        }
      }
      >.navigation-megamenu-setting{
        >.setting{
          >*{
            padding:5px;
          }
          >.setting-user{
            >.setting-user-button{
              transition: .4s;
              &:hover{
                background: $gray;
                >.bi{
                  color: $black !important;
                }
              }
            }
            >.setting-user-subbutton{
              // transform: translateY(-3000px);
              >li{
                padding: 17px 12px;
                width: 100%;
                &:hover{
                  background: $graywhite;
                }
              }
            }
          }
        }
      }
    }
  }
}
.black-curtain{
  background: $black;
  opacity:0.7;
  width: 100%;
  height: 200vh;
  position: fixed;
  z-index: 20 !important;
}


#calendar{
  width: 268px;
  border-radius: 15px;
  text-align:center;
  color:#555;
  box-shadow:0 0 50px -14px rgba(0,0,0,.8);
  #calendar tr:last-of-type td:first-of-type{border-radius:0 0 0 5px;}
  #calendar tr:last-of-type td:last-of-type{border-radius:0 0 5px 0;}
  >div{
    height: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    >.swiper-wrapper{
      >div{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: $pink;
      }
    }
    >.swiper-button-prev,.swiper-button-next{
      color: $pink;
    }
  }
  >table{
    // border-top:1px solid #ddd;
    // border-left:1px solid #ddd;
    border-spacing:0;
    border-radius:0 0 5px 5px;
    tr{
      >td{
        width:38px;
        height:38px;
        padding:6px;
        cursor:pointer;
        transition: .3s;
        border-radius: 50%;
      }
    }
  }
  & td:hover:not(.current){
    background:#ddd;
  }
  
  & .lastmonth,#calendar .nextmonth,#calendar .nextmonth ~ *{
    color:#999;
  }
  
  & .current{
    background: $pink;
    font-weight:700;
    color:#fff;
    text-shadow:0 0 10px rgba(0,0,0,.5);
  }
  
  & .hastask{
    font-weight:700;
  }
}

.card {
  &__percent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  &__number {
    position: absolute;
    color: var(--greyDark);
    font-size: 3.6rem;
    font-family: 'DM Sans', sans-serif;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
    font-size: 1.8rem;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 1.2px;
    margin-bottom: 1rem;
    color: var(--primary);
    }
    p {
      font-size: 1.4rem;
      color: var(--greyDark);
    }
  }
}

svg {
    position: relative;
    width: 24rem;
    height: 24rem;
    z-index: 1000;
    transform: rotate(-90deg);
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-linecap: round;
    transform: translate(3rem, 3rem);
    stroke-dasharray: 565.49; // 2 * PI * radius
    stroke-dashoffset: 282.75;
    transition: all 1s ease;
    stroke-width: 24;
}
.circle {
  position: absolute;
  width: 23rem;
  height: 23rem;
  border-radius: 50%;
  box-shadow: 6px 6px 8px var(--greyLight-2),
              -6px -6px 8px var(--white);
  background: var(--greyLight-1);

  &__medium {
    width: 20.5rem;
    height: 20.5rem;
    box-shadow: inset 8px 8px 10px var(--greyLight-2),
                inset -4px -4px 8px var(--white);
  }
  &__small {
    width: 15.5rem;
    height: 15.5rem;
    box-shadow: 6px 6px 8px var(--greyLight-2),
                -2px -2px 8px var(--white);
  }
}

.form {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-items: center;
    text-align: center;
    position: relative;

    &__text {
        grid-column: 1 / 3;
        font-weight: 400;
        margin-bottom: 2rem;
        color: var(--greyDark);
    }

    input {
        border: none;
        outline: none;
        background: none;
        font-family: inherit;
        width: 5rem;
        font-size: 1.6rem;
        text-align: center;
        padding: .8rem;
        border-radius: 1rem;
        margin-right: 1rem;
        color: var(--primary);

        box-shadow: inset .2rem .2rem .4rem var(--greyLight-2),
                    inset -.3rem -.3rem .4rem var(--white);
        &::placeholder { color: var(--greyLight-3); }
        &:focus { color: var(--primary);
            box-shadow: .3rem .3rem .6rem var(--greyLight-3), 
                            -.2rem -.2rem .5rem var(--white); }
    }

    &__btn {
        border: none;
        outline: none;
        font-family: 'DM Sans', sans-serif;
        letter-spacing: .8px;
        background: var(--greyLight-1);
        padding: .8rem 2rem;
        border-radius: 2rem;
        color: var(--white);
        cursor: pointer;
        background: linear-gradient(-25deg, var(--primary) 0%, var(--primary-light) 100%);
        
        &:hover {
            background: linear-gradient(-25deg, var(--primary-dark) 0%, var(--primary) 100%);
        }
    }

}

.tooltip {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: -6rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background: var(--greyLight-1);
    font-size: 1.2rem;
    color: var(--primary-dark);
    opacity: 0;
    transition: all .3s ease;

    &__text { margin-left: .6rem;}

    &.fade-in { animation: fadeIn .8s ease;}
    
    &::after {
        content: '';
        position: absolute;
        left: 45%;
        bottom: 74%;
        width: 2rem;
        height: 2rem;
        background: var(--greyLight-1);
        clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
        transform: rotate(135deg);
        border-radius: 0 0 0 0.4em;
        
    }
}

.dribbble {
  position: fixed;
  font-size: 3.6rem;
  right: 2rem;
  top: 2rem;
  color: #EA4C89;
}

