@import 'global';
.navigation{
  border-bottom: 1px solid $graywhite;
  >nav{
    >.navigation-megamenu{
      >.navigation-megamenu-search{
        >.search{
          padding: 5px 10px;
          >.search-anywhere,>.search-anyweek{
            padding-right: 25px;
            border-right: 1px solid $gray !important;
          }
          >.search-logo{
            padding: 7px 0px;
            >a{
              >.bi{
                color: $white;
              }
            }
          }
        }
        >.search-sub{
          position: absolute;
          top: 0px;
          left: 50%;
          opacity: 0.5;
          transform: translateX(-50%)scale(0);
          >.search-sub-nav{
            >li{
              padding: 20px;
              transition: .4s;
              &:first-child{
                border-bottom: 2px solid black;
              }
              &:hover:not(:last-child){
                border-bottom: 2px solid black;
              }
              &:last-child:hover{
                color: $pink;
              }
            }
          }
          >.search-sub-box{
            >li{
              border-radius: 40px;
              padding: 20px;
              transition: all .4s linear;
              &:hover{
                background: $white !important;
              }
            }
            >.search-sub-box-where{
              >input{
                outline: none;
                border: none;
                background: transparent;
              }
              >.sub-where{
                // border: 1px solid red;
                // background: $white;
                z-index: 99 !important;
              }
            }
            >.search-sub-box-where,
            >.search-sub-box-checkin,
            >.search-sub-box-checkout,
            >.search-sub-box-who{
              >h3{
                font-weight: bold;
              }
            }
            >.search-sub-box-who{
              >.search-sub-box-who-search{
                color: $white;
                transition: .4s;
                &:hover{
                  background: $pink;
                }
              }
            }
          }
        }
      }
      >.navigation-megamenu-setting{
        >.setting{
          >*{
            padding:5px;
          }
          >.setting-user{
            >.setting-user-button{
              transition: .4s;
              &:hover{
                background: $gray;
                >.bi{
                  color: $black !important;
                }
              }
            }
            >.setting-user-subbutton{
              // transform: translateY(-3000px);
              >li{
                padding: 17px 12px;
                width: 100%;
                &:hover{
                  background: $graywhite;
                }
              }
            }
          }
        }
      }
    }
  }
}
.black-curtain{
  background: $black;
  opacity:0.7;
  width: 100%;
  height: 200vh;
  position: fixed;
  z-index: 20 !important;
}
